@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

li, p, a, h1, h2, h3, h4, h5, h6 {
    font-family: "GowunDodum-Regular";
}

h1, h2, h3 {
    margin-top: 3.5em !important;
}

h4, h5, h6 {
    margin-top: 2.0em !important;
}

.youtube_video_wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.youtube_video_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
