{% if 'en' == page.lang %}
<button type="button" name="button" id="svg-en" class="btn translation_btn">한글 / <b>Eng</b></button>
{% else %}
<button type="button" name="button" id="svg-kr" class="btn translation_btn"><b>한글</b> / Eng</button>
{% endif %}

<style>
    .translation_btn {
      border: none;
      box-shadow: none;
      background-color: transparent;
      font-family: "GowunDodum-Regular";
    }
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var svgKr = document.getElementById("svg-kr");
    var svgEn = document.getElementById("svg-en");

    if (svgEn) {
        svgEn.addEventListener("click", function() {
            window.location.href = "/ko{{ page.url }}";
        });
    }

    if (svgKr) {
        svgKr.addEventListener("click", function() {
            var currentUrl = "{{ page.url }}";
            var newUrl = currentUrl.startsWith("/ko") ? currentUrl.substring(3) : currentUrl;
            window.location.href = newUrl;
        });
    }
});
</script>